@import '~src/scss/variables';

.table-cell-text-clear {
  font-size: $font-size-table-header;
  background: transparent;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  float: right;
  padding: 0 3px;
}


input {
  border: 0;
  border-bottom: 1px solid transparent !important;
  background: transparent;
  width: 100%;
  color: $color-black;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: $font-size-table-header;

}

input::placeholder {
  color: $color-black;
  padding-top: 1px;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-black;
  padding-top: 1px;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: $color-black;
  padding-top: 1px;
}

input:-ms-input-placeholder { /* IE 10+ */
  color: $color-black;
  padding-top: 1px;
}

input:-moz-placeholder { /* Firefox 18- */
  color: $color-black;
  padding-top: 1px;
}

input:focus::placeholder {
  color: $color-grey;
  padding-top: 1px;
}

input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-grey;
  padding-top: 1px;
}

input:focus::-moz-placeholder { /* Firefox 19+ */
  color: $color-grey;
  padding-top: 1px;
}

input:focus:-ms-input-placeholder { /* IE 10+ */
  color: $color-grey;
  padding-top: 1px;
}

input:focus:-moz-placeholder { /* Firefox 18- */
  color: $color-grey;
  padding-top: 1px;
}

input:focus {
  border-bottom: 1px solid $color-grey !important;
  background: transparent;
  width: 100%;
}


.cell {
  height: 100%;
  background: red;
}

img {
  width: 16px;
}

.icon {
}

.deactivate {
  visibility: hidden;
}


.filter-icon {
  width: 18px;
  height: 18px;
  margin-top: -5px;
}

polygon {
  fill: var(--colorPrimary);
}

.passive {
  polygon {
    fill: var(--colorFontLight);
  }
}
