<div class="d-flex align-items-center">

  <!-- <app-table-cell-direction *ngIf="sortable"
    [title]="placeholder"
    [direction]="direction"
    (click)="changeDirection($event)"
  ></app-table-cell-direction> -->

  <ng-container *ngIf="sortable">
    <lib-pagination-base-thead-cell-sorting
      [title]="title"
      [key]="key"
      [direction]="direction"
      (clickChangeDirection)="onChangeDirection($event)"
    ></lib-pagination-base-thead-cell-sorting>
  </ng-container>

  <div class="filter-icon" [ngClass]="{passive: value.length === 0}">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         width="100%"
         height="100%" viewBox="0 0 13 12" enable-background="new 0 0 13 12" xml:space="preserve">
<g id="Shape_1_copy_2_1_" enable-background="new    ">
	<g id="Shape_1_copy_2">
		<g>
			<polygon fill="#00286d" points="0,1 5,6 5,12 8,10 8,6 13,1 			"/>
		</g>
	</g>
</g>
</svg>
  </div>

  <input #inputField
         type="text"
         placeholder="{{title | translate}}"
         [value]="value"
  />

  <span class="table-cell-text-clear"
        [ngClass]="{'deactivate': value.length === 0 }"
        [innerHtml]="value.length > 0 ? '&times;' : '&nbsp;&nbsp;'"
        (click)="clear();"
  ></span>


</div>

<h2>EVENT_VALUE</h2>
  <pre>
    {{ debugEventValue() | json}}
  </pre>
